   <nav class="row">
       <div class="col-sm-10 col-sm-offset-1" style="border: 0px solid">
           <table border="0px" width="75%" class="menuARH">
               <tr>
                    <td> 
                        <a href="#" id="profile">
                            <span class="icons" style="background-color: #718C00">
                               <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </span> 
                            <span class="lien lien1"> My Profile </span> 
                        </a> 
                    </td>
                   <td >
                        <a href="#" id="myDocument">
                            <span class="icons" style="background-color: #5eb5e0">
                               <span class="glyphicon glyphicon-folder-open" aria-hidden="true"></span>
                            </span> 
                            <span class="lien lien2"> My Document </span> 
                        </a> 
                   </td>
                    <td> 
                        <a href="#" id="myFees">
                            <span class="icons" style="background-color: #718C00">
                               <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                            </span> 
                            <span class="lien lien3"> My Fees</span> 
                        </a> 
                    </td>
                    <td> 
                        <a href="#" id="myComments">
                            <span class="icons" style="background-color: #5eb5e0">
                               <span class="glyphicon glyphicon-send" aria-hidden="true"></span>
                            </span> 
                            <span class="lien lien4"> My Comments</span> 
                        </a> 
                    </td>
                    
                 
                    
               </tr>
           </table>
       </div>
   </nav>
  
